<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div><b>ROOM</b></div>
<div th:each="room : ${rooms}">
    <form method="post">
        <label th:text="'NAME  ' + ${room.getName}"></label>
        <input type="checkbox" name="onOff" th:checked="${room.isOnOff}">
        <button type="submit">SAVE</button>
    </form>

    <form method="post" th:action="'/main/' + ${room.getId} + '/delete'">
        <button type="submit">Delete</button>
    </form>
</div>
<a href="/main">Main page</a>
</body>
</html>