<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form method="post">
    <input type="text" name="name" placeholder="NAME">
    <input type="text" name="country" placeholder="COUNTRY">
    <input type="checkbox" name="onOff"  >
    <button type="submit">ADD</button>
</form>

<div>LIST ROOM</div>
<table>
    <tr>
        <th>NAME</th>
        <th>COUNTRY</th>
    </tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.getName}"></td>
        <td th:text="${room.getCountry}"></td>
<!--        <td th:text="${room.getOnOff}"></td>-->
        <td><input type="checkbox" name="onOff" th:value="${room.getOnOff}" th:checked="${room.getOnOff}"></td>
        <td> <a th:href="'/main/' + ${room.getId}">EDIT</a> </td>
    </tr>
</table>
</body>
</html>